#fullContainer {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(25,25,25);
    color: white;
}

#leftContainer {
    width: 50%;
    padding-left: 300px;
}

#rightContainer {
    width: 50%;
    text-align:center;
}

#slideshow {
    flex: 1; /* Expand to fill available space */
    display: flex;
    justify-content: center; /* Horizontally center the content */
    align-items: center; /* Vertically center the content */
}

#sideinfo {
    flex: 1;
    box-sizing: border-box;
    width: 1200px;
}

#TitleDisplay {
    vertical-align: middle;    
}

#Clock {
    font-size: 100px;
}

#DatesContainer {
    border: 15px solid transparent;
}

#DateDisplay{
    flex: 1;
    font-size: 35px;
}

#CountdownDisplay {
    font-size: 70px;
}

#JummahDisplay {
    font-size: 40px;
    border: 25px solid transparent;
}

#Logo {
    
}

#Announcements {
    width:100%; 
    border: 10px solid transparent;
    font-size: 25px;
}

#PrayerCardsList {
    flex: 1;
    display: flex;
    justify-content: center;
    padding: 20px;
    padding-left: 20px;
}

#PrayerCard {
    font-size: 30px;
    text-align: center;
    width: 170px;
    color: white;
}

.centered-hr {
    margin: 0 auto;
    width: 50%; /* You can adjust the width as needed */
    border: 5px solid white;
}

.list-group-item{
    background-color: rgb(40,40,40) !important;
    border-color: rgb(60, 60, 60)  !important;
}
/* 
.list-group-item[aria-expanded="true"]{
    background-color: rgb(40,0,0) !important;
} */

.list-group-item.active{
    background-color: rgb(40,0,0) !important;
}

body {
    background-color: black;
}

/* ImageSlider.css */
.slider-image {
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

.fade {
    opacity: 0;
    transform: translateX(-150px); /* Adjust this value to control the direction of the fade */
}